@{

    ViewData["ReturnPolicyActive"] = "active";
}
@inject DropDown.IPageMetaTag TagManager
@{

    var URL = TagManager.GetURL();
}

@section MetaContent{

    <title>Return Policy - nutriplanner.softwareengineer.lk</title>
    <meta name="description" content="Return Policy for nutriplanner.softwareengineer.lk Site">
    <meta name="keywords" content="">

    <meta name="og:url" content="@URL">
    <meta name="og:type" content="website">
    <meta name="og:title" content="Return Policy - nutriplanner.softwareengineer.lk">
    <meta name="og:description" content="Return Policy for nutriplanner.softwareengineer.lk Site">
    <meta name="og:image" content="">
}




<div class="container">

    <div class="page-header pl-4 pr-4" style="background-image: url(../images/page-header/faq.jpg)">
        @*<h3 class="page-subtitle font-weight-bold">Welcome Riode</h3>*@
        <h1 class="page-title font-weight-bold lh-1 text-white text-capitalize">Return Policy</h1>
        @*<p class="page-desc text-white mb-0">
            Lorem quis bibendum auctor, nisi elit consequat ipsum,<br> nec
            sagittis sem nibh id elit.
        </p>*@
    </div>
</div>



<!-- End PageHeader -->
<div class="page-content">
    <div class="container">
        <section class="mt-7 mb-4">
            <div class="row">
                <div class="col-md-12 ">
                    <blockquote class="text-bd-left">
                        <p>
                            Upon Receiving the Purchase Receipt through email customer can cancel the order within
                            24Hrs by contacting Customer Helpline.

                        </p>
                    </blockquote>

                </div>
                <div class="col-md-12">
                    <blockquote class="text-bd-left">
                        <p>
                            Returns will be accepted if the purchased item is received in Damaged Condition (Upon opening
                            the Package Contact customer helpline with 24hrs).

                        </p>
                    </blockquote>
                </div>

                <div class="col-md-12">
                    <blockquote class="text-bd-left">
                        <p>
                            Guarantee or Warranty goods can be sent for exchange within the given time frame with the purchase
                            proof or Order ID, Purchaser shall pay shipping for Exchange.


                        </p>
                    </blockquote>

                </div>
                <div class="col-md-12">
                    <blockquote class="text-bd-left">
                        <p>
                            Cosmetics Products will not be exchanged under any circumstances

                        </p>
                    </blockquote>
                </div>

                <div class="col-md-12">
                    <blockquote class="text-bd-left">
                        <p>
                            Cosmetic products returned will be inspected then approved for Refund.

                        </p>
                    </blockquote>
                </div>

                <div class="col-md-12">
                    <blockquote class="text-bd-left">
                        <p>
                            Once your Return is Received and inspected we will send you an email to notify
                            that we have received you return Item.

                        </p>
                    </blockquote>
                </div>

                <div class="col-md-12">
                    <blockquote class="text-bd-left">
                        <p>
                            If your Return is Approved, Refunds will be processed within 7 working Days.

                        </p>
                    </blockquote>
                </div>


            </div>
        </section>

    </div>



</div>